{% extends "base.html" %}

        {% block title %}
        {% endblock %}

		{% block meta %}
			<!-- All the meta files will come here! -->
		{% endblock %}

		{% block links %}
			<!-- Online links will come here! -->
		{% endblock %}

		{% block styles %}
			<style>
                div#heading {
                    background: #337ab7;
                    font-size: 40px;
                    color: white;
                }
			</style>
		{% endblock %}

		{% block bodycontent %}
            <h1 style="margin-top: 3%" class="text-center">Password reset complete</h1>
            <p class="text-center">Your new password has been set. You can login now on the <a href="/login/">Login page</a>.</p>
		{% endblock %}

		{% block bodyscripts %}
		{% endblock %}

        {% block staticfiles %}
			<!-- Static files come here! -->
		{% endblock %}
