<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Forgot your password?</h1>
  <p>Enter apna email address below, and we'll email instructions for setting a new one.</p>

 <form role="form" class="form-horizontal" method="post">
     {% csrf_token %}
    <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
               Email id <input  type="email" class="form-control" id="{{ form.email.id_for_label }}" maxlength="30" name="{{ form.email.html_name}}"  />
                {{ form.email.errors }}
            </div>
        <input type="submit" class="btn btn-primary" value="submit" />

    </div>
</form>
</body>
</html>