{% extends "base.html" %}

        {% block title %}
            Email sent
        {% endblock %}

		{% block meta %}
			<!-- All the meta files will come here! -->
		{% endblock %}

		{% block links %}
			<!-- Online links will come here! -->
		{% endblock %}

		{% block styles %}
            <style>

                div#heading {
                    background: #337ab7;
                    font-size: 40px;
                    color: white;
                }
            </style>
		{% endblock %}

		{% block bodycontent %}
            <h1 style="margin-top: 3%" class="text-center">Check your inbox</h1>
            <p class="text-center">We've sent you the instructions for resetting your password. You should receive an email shortly!</p>
		{% endblock %}

		{% block bodyscripts %}
		{% endblock %}

        {% block staticfiles %}
			<!-- Static files come here! -->
			<style>
                #footer {
                    background: #337ab7;
					color: white;
   					position: absolute;
   					padding: 10px;
   					bottom: 0;
				    width:100%;
					text-align: center;
			    }
            </style>
		{% endblock %}
