<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Set a new password!</h1>
<form role="form" class="form-horizontal" method="post">{% csrf_token %}
    <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
               New Password <input  type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" maxlength="30" name="{{ form.new_password1.html_name }}"   />
                {{ form.new_password1.errors }}

                <br><br>
                Repeat Password <input type="password" class="form_control" id="{{ form.new_password2.id_for_label}}" maxlength="30" name="{{form.new_password2.html_name}}" />
            </div>
                {{ form.new_password2.errors}}
        <input type="submit" class="btn btn-primary" value="ChangePassword" />

    </div>
</form>
</body>
</html>