<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>change kare password</p>

<form role="form" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="form-group">
        {% for field in pcform %}
            <div class="input-group">
                <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
               {{field.html_name}} <input  type="password" class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}"  />
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Change Password" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>

</body>
</html>