{% extends "base.html" %}

    {% block title %}
        Login Page
    {% endblock %}





    {% block bodycontent %}

        <h2 style="text-align:center">Login Page</h2>
        <hr>
        <div class="container">
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                        {% if invalid %}
                            <p class="alert alert-danger">Your Username-Password combination doesn't exist. </p>
                        {% endif %}
                    {{ form.as_p }}
                    <a class="" href="/pass_reset/password_reset">forget password!</a>
                    <input class="btn btn-primary pull-right" type="submit" value="Login" />

                </form>
            </div>
        </div>
    {% endblock %}
