{% extends "base.html" %}
	{% block title %}
		Login Page
	{% endblock %}

	{% block bodycontent %}
		<div style="background: #5292f9" class="text-center">
			<p style="font-size: 40px; color: white">Online Registration Portal</p>
		</div>
		<h2 style="text-align:center">Login Page</h2>
		<hr>
		<div class="container">
			<form class="col-lg-6" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-primary pull-right" >Submit</button>
			</form>
		</div>
	{% endblock %}