{% extends "base.html" %}

    {% block title %}
        successfully registered!
    {% endblock %}

    {% block meta %}
        <!-- All the meta files will come here! -->
    {% endblock %}

    {% block links %}
        <!-- Online links will come here! -->
    {% endblock %}

    {% block styles %}
        <!-- Style part comes here! -->
    {% endblock %}

    {% block bodycontent %}


            <div class="container">
                {% load static %}
                <h2>Student Registration Successfull! <span><img style="width:5%" src="{% static 'checkmark.gif'%}" alt="checktick"></span></h2>
                <br>
                <div>
                    <label>Student's Name: </label>
                    <br>
                    <label>Roll No: </label>
                    <br>
                    <label>Class: </label>
                    <br>
                    <label>Branch: </label>
                    <br><br>
                    <div class="text-center">
                        <a class="btn btn-primary" href="">Add New Student</a>
                        <a class="btn btn-primary" href="">Go to Profile</a>
                    </div>
                </div>
            </div>
    {% endblock %}

    {% block bodyscripts %}
    {% endblock %}

    {% block staticfiles %}
        <!-- Static files come here! -->
    {% endblock %}

