{% extends "base.html" %}

    {% block title %}
        Success! :)
    {% endblock %}





    {% block meta %}
        <!-- All the meta files will come here! -->
    {% endblock %}





    {% block links %}
        <!-- Online links will come here! -->
    {% endblock %}





    {% block styles %}
        <!-- Style part comes here! -->
        <style>
            div#heading {
                background: #337ab7;
                font-size: 40px;
                color: white;
            }
        </style>
    {% endblock %}





    {% block bodycontent %}
        <div class="container">
            {% load static %}
                <h2>Student Successfully {%ifequal type '1'%} Registered {%endifequal%} {%ifequal type '2'%} Updated {%endifequal%}{%ifequal type '3'%} Deactivated {%endifequal%}! <span><img style="width:5%" src="{% static 'checkmark.gif'%}" alt="checktick"></span></h2>
                <br>
            <div>
                {%ifnotequal type '3'%}
                <h3> LOGIN DETAILS</h3>
                <br>
                <label>Name : {{ name }} </label>
                <br>
                <label>Username : {{ username }} </label>
                <br>
                <label>Password : {{ password }} </label>
                <br><br>
                {% endifnotequal %}
                <div class="text-center">
                        <a class="btn btn-primary" href="/create_student/">Add Another Student</a>
                        <a class="btn btn-primary" href="/profile/">Go to Profile</a>
                </div>
            </div>
        </div>

    {% endblock %}





    {% block bodyscripts %}
    {% endblock %}





    {% block staticfiles %}
        <!-- Static files come here! -->
            <style>
                #footer {
                    background: #337ab7;
					color: white;
   					position: absolute;
   					padding: 10px;
   					bottom: 0;
				    width:100%;
					text-align: center;
			    }
            </style>
    {% endblock %}

