{% extends "base.html" %}

    {% block title %}
        Registrar Staff
    {% endblock %}





    {% block links %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    {% endblock %}





    {% block styles %}
        <style>
            div#heading {
			    background: #5292f9;
			    font-size: 40px;
			    color: white;
            }

            img {
                width: 50%;
            }
                .tab {
                    overflow: hidden;
                }
                /* Style the buttons inside the tab */
                .tab button {
                    border-radius: 5px;
                    text-align: center;
                    width: 23%;
                    margin: 0 5%;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 10px 0;
                    transition: 0.3s;
                    font-size: 17px;
                    white-space: wrap;
                    text-overflow: ellipsis;
                }
                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: lightblue;
                }
                /* Create an active/current tablink class */
                .tab button.active {
                    color: white;
                    background-color: #5292f9;
                }
                /* Style the tab content */
                .tabcontent {
                    display: none;
                    padding: 6px 12px;
                    -webkit-animation: fadeEffect 1s;
                    animation: fadeEffect 1s;
                }
                /* Fade in tabs */
                @-webkit-keyframes fadeEffect {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }
                @keyframes fadeEffect {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }


                {% ifequal tabb '1' %}
                    div#addStudent {
                        display: block;
                    }
                {% endifequal %}
                {% ifequal tabb '2' %}
                    div#updateStudent {
                        display: block;
                    }
                {% endifequal %}
                {% ifequal tabb '3' %}
                    div#deactivateStudent {
                        display: block;
                    }
                {% endifequal %}

        </style>
    {% endblock %}





    {% block bodycontent %}
        <a style="font-size: 120%; margin-right:20px;" class="btn btn-primary pull-right" href="/login/">LogOut</a>
        <a style="font-size: 120%; margin: 0 5px;" class="btn btn-primary pull-right" href="/change_password">Change Password</a>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!-- LEFT PROFILE COLUMN -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <br><br>
                    {% load static %}
                    <img class="rounded mx-auto d-block" src='{% static "def_profile_pic.jpg" %}'>
                    <div class="text-center mt-2">
                        <label class="font-weight-bold" id="StaffName">{{ uobj.first_name }} {{ uobj.last_name }}</label><br>
                        <label id="StaffPhone"><span class="text-muted">Email: </span>{{ uobj.email }}</label><br>
                    </div>
                </div>

                <!-- RIGHT PROFILE COLUMN -->
                <div class="col-lg-9 col-md-9 col-sm-9">

                    <!-- TOP TABS ROW -->
                    <div class="row">
                        <div style="margin-top: 10px" class="col-lg-12 col-md-12">
                            <div class="tab">

                                <button class="tablinks {% ifequal tabb '1' %} active {% endifequal %}" onclick="openTab(event, 'addStudent')"><i class="fas fa-user-plus"></i> Add Student</button>
                                <button class="tablinks {% ifequal tabb '2' %} active {% endifequal %}" onclick="openTab(event, 'updateStudent')"><i class="fas fa-edit"></i> Update Student</button>
                                <button class="tablinks {% ifequal tabb '3' %} active {% endifequal %}" onclick="openTab(event, 'deactivateStudent')"><i class="fas fa-ban"></i> Deactivate Student</button>

                            </div>
                        </div>
                    </div>

                    <!-- MIDDLE TAB CONTENT ROW -->
                    <div class="row">
                        <div style="margin-top: 10px" class="col-lg-12 col-md-12">

                            <!-- ADD STUDENT CARD -->
                            <div id="addStudent" class="tabcontent">
                                <div class="card">

                                    <div class="card-header text-center">
                                       <h4>ADD NEW STUDENT</h4>
                                   </div>

                                    <div class="card-body text-center">
                                        <br>
                                        <a class="btn btn-success" href="/create_student/"> Add Now </a><br>
                                        <br>
                                    </div>
                                </div>
                            </div>

                            <!-- UPDATE STUDENT CARD -->
                            <div id="updateStudent" class="tabcontent">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h4>Update Student Information</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <p class="card-text text-capitalize mt-2">Enter Registered Roll No. </p>
                                        <form action="/update_student/" method="POST" class="form-inline justify-content-center my-2 my-lg-0">
                                            {% csrf_token %}
                                            <input required class="form-control mr-sm-2" id="updateRollNo" type="search" placeholder="Enter Roll No" aria-label="Search" name="rollno_to_update">
                                            <button class="btn btn-success my-2 my-sm-0" type="submit">Update</button>
                                        </form>
                                        <br>
                                        {% ifequal tabb '2' %}
                                            <h5 class="alert alert-warning">{{ msg }}</h5>
                                        {% endifequal %}
                                    </div>

                                </div>
                            </div>

                            <!-- Deactivate STUDENT CARD -->
                            <div id="deactivateStudent" class="tabcontent">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h4>Deactivate Student Profile</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <p class="card-text text-capitalize mt-2">Enter Registered Roll No. </p>
                                        <form action="/deactivate_student/" method="POST" class="form-inline justify-content-center my-2 my-lg-0">
                                            {% csrf_token %}
                                            <input required class="form-control mr-sm-2" id="deactivateRollNo" type="search" placeholder="Enter Roll No" aria-label="Search" name="rollno_to_deactivate">
                                            <button class="btn btn-success my-2 my-sm-0" type="submit">Deactivate</button>
                                        </form>
                                        <br>
                                        {% ifequal tabb '3' %}
                                            <h5 class="alert alert-warning">{{ msg }}</h5>
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- BOTTOM ROLL_NO ROW -->
                    <div class="row">
                        <div style="margin-top: 10px" class="col-lg-12 col-md-12">
                            <div id="RegisteredStudents" class="Roll_card" >
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h4>Students Registered by you:</h4>
                                    </div>
                                    <div style="overflow-x:auto;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th >Roll No</th>
                                                    <th >Name</th>
                                                    <th >Father's Name</th>
                                                    <th >Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for roll in roll_list %}
                                                <tr {% if not roll.active_status %} style="color:red;" {% endif %} >
                                                    <td>{{ roll }}</td>
                                                    <td>{{ roll.name_eng }}</td>
                                                    <td>{{ roll.father_name }}</td>
                                                    <td>{{ roll.email }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

                </div>
            </div>
        </div>
    {% endblock %}





    {% block staticfiles %}
            {% load static %}
            <script type="text/javascript" src="{% static "sorp_app/r_addstudent.js" %}"></script>
	{% endblock %}