{% extends "base.html" %}

    {% block title %}
        successfully registered!
    {% endblock %}

    {% block meta %}
        <!-- All the meta files will come here! -->
    {% endblock %}

    {% block links %}
        <!-- Online links will come here! -->
    {% endblock %}

    {% block styles %}
        <!-- Style part comes here! -->
    {% endblock %}

    {% block bodycontent %}
        <div class="text-center"><h1>Online Registration Portal</h1>
        </div>

        <div class="container">
            <h2>Student Registration Successfull! <span>(Animated tick)</span></h2>
            <div>
                <h3> LOGIN DETAILS</h3>
                <br>
                <label>Username : {{ username }} </label>
                <br>
                <label>Password : {{ password }} </label>
                <br><br>
                <div class="text-center">
                    <a class="btn btn-primary" href="/create_student/">Add New Student</a>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block bodyscripts %}
    {% endblock %}

    {% block staticfiles %}
        <!-- Static files come here! -->
    {% endblock %}

