{% extends "base.html" %}

    {% block title %}
        Student's Profile
    {% endblock %}

    {% block meta %}
        <!-- All the meta files will come here! -->
    {% endblock %}

    {% block links %}
        <!-- Online links will come here! -->
    {% endblock %}


    {% block bodycontent %}
        <div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-12 mygrid ">
				{% load static %}
				<img class="rounded mx-auto d-block" src="{% static "def_profile_pic.jpg" %}">
				<br>
				<div class="text-center">
					<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<label for="name"><b>Student's Name:</b></label>
						<label id="name" class="myinput">{{sobj.name_eng}}</label><br>
					</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<label for="rollNo"><b>Roll No:</b></label>
							<label id="rollNo">{{ sobj.roll_no }}</label><br>
						</div>
					</div>


					<nav class="navbar navbar-expand-lg navbar-light bg-light">
  						<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#collapseButton" aria-controls="collapseButton" aria-expanded="false" aria-label="Toggle navigation" style="outline: none; width: 100%; margin:auto;">
    						<span class="navbar-toggler-icon"></span>
  						</button>

						<div class="collapse navbar-collapse" id="collapseButton">
							<div class="tab">
						    	<button class="tablinks active" onclick="openTab(event, 'studentProfile')">Profile</button>
						      	<button class="tablinks" onclick="openTab(event, 'documents')">Documents</button>
						      	<button class="tablinks" onclick="openTab(event, 'subjects')">Subject Details</button>
						      	<button class="tablinks" onclick="openTab(event, 'medDetails')">Medical Details</button>
						      	<button class="tablinks" onclick="openTab(event, 'dues')">Dues</button>
						      	<button class="tablinks" onclick="openTab(event, 'result')">Result</button>
						    </div>
						</div>
					</nav>
				</div>
			</div>


			<div class="col-lg-9 col-md-9 col-sm-9 col-12 mygrid1">
				<form for="register" action="https://google.com">
					<div id="studentProfile" class="tabcontent">
						<h4 class="text-center font-weight-bold">GENERAL INFORMATION</h4><br>

						<div class="row">
							<div class="col-md-5 col-sm-5 col-5">
								<div class="form-group">
									<label ><b>Class</b></label>
						   		</div>
				  			</div>
				  			<div class="col-md-1 col-sm-1 col-1">
				  				<label>:</label>
				  			</div>
				  			<div class="col-md-5 col-sm-5 col-5">
				  				<label>{{sobj.ug_class}}</label>
				  			</div>
				  		</div>

				  		<div class="row">
				  			<div class="col-md-5 col-sm-5 col-5">
								<div class="form-group">
									<label ><b>Branch</b></label>
						   		</div>
				  			</div>
				  			<div class="col-md-1 col-sm-1 col-1">
				  				<label>:</label>
				  			</div>
				  			<div class="col-md-5 col-sm-5 col-5">
				  				<label>{{ sobj.ug_branch }}</label>
				  			</div>
				  		</div>

				  		<div class="row">
				  			<div class="col-md-5 col-sm-5 col-5">
								<div class="form-group">
									<label ><b>Semester</b></label>
						   		</div>
				  			</div>
				  			<div class="col-md-1 col-sm-1 col-1">
				  				<label>:</label>
				  			</div>
				  			<div class="col-md-5 col-sm-5 col-5">
				  				<label>{{ sobj.ug_sem }}</label>
				  			</div>
				  		</div>

				  		<div class="row">
				  			<div class="col-md-5 col-sm-5 col-5">
								<div class="form-group">
									<label for=><b>Hostler</b></label>
						   		</div>
				  			</div>
				  			<div class="col-md-1 col-sm-1 col-1">
				  				<label>:</label>
				  			</div>
				  			<div class="col-md-5 col-sm-5 col-5">
				  				<label>{{ sobj.hostel_name }}</label>
				  			</div>
				  		</div>

				  		<div class="row">
				  			<div class="col-md-5 col-sm-5 col-5">
								<div class="form-group">
									<label ><b>Correspondence Address</b></label>
						   		</div>
				  			</div>
				  			<div class="col-md-1 col-sm-1 col-1">
				  				<label>:</label>
				  			</div>
				  			<div class="col-md-5 col-sm-5 col-5">
				  				<label>{{ sobj.corr_addr }}</label>
				  			</div>
				  		</div>

				  		<div class="row">
				  			<div class="col-md-5 col-sm-5 col-5">
								<div class="form-group">
									<label ><b>Permanent Address</b></label>
						   		</div>
				  			</div>
				  			<div class="col-md-1 col-sm-1 col-1">
				  				<label>:</label>
				  			</div>
				  			<div class="col-md-5 col-sm-5 col-5">
				  				<label>{{ sobj.perm_addr }}</label>
				  			</div>
				  		</div>
				  	</div>



					<div id="documents" class="tabcontent">
	          			<h4 class="text-center font-weight-bold">DOCUMENTS</h4><br>

				  		<div class="row">
		      				<div class=" col-lg-12 col-md-12 col-sm-12 col-12">
		      					<div style="overflow-x:auto;">
			        				<table class="table table-hover">
			          					<thead>
			          						<tr>
					           					<th class="srno">Sr. No.</th>
					           					<th id="mid">Name of the Document</th>
					           					<th>Verification</th>
					       					</tr>
					       				</thead>

					       				<tbody>
					       					<tr>
					          					<td>1</td>
					           					<td><strong>Provisional Admission Letter</strong> issued by JoSAA</td>
					           					<td></td>
					     					</tr>

					       					<tr>
					           					<td>2</td>
					           					<td><strong>Score Card</strong> issued by CBSE indicating rank in JEE-2019</td>
					           					<td></td>
					       					</tr>

					       					<tr>
					           					<td>3</td>
					           					<td><strong>Admit card</strong> of JEE-2019 (self attested)</td>
					           					<td></td>
					          				</tr>

					          				<tr>
					            				<td>4</td>
					            				<td><strong>Class 10th (High School) Board Certificate</strong> as a proof of date of birth</td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>5</td>
					            				<td><strong>Class 12th Marksheet and Pass Certificate</strong> of qualifying Examination</td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>6</td>
					            				<td><strong>Character Certificate</strong></td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>7</td>
					            				<td><strong> Migration/Transfer Certificate</strong></td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>8</td>
					            				<td><strong>Medical Fitness Certificate</strong> issued by medical officer at NIT Hamirpur</td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>9</td>
					            				<td><strong>Certificate of Person with Disability(PwD)</strong><em> (if applicable)</em></td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>10</td>
					            				<td><strong>Certificate of category</strong> (SC/ST/OBC-NCL) <em>(if applicable)</em></td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>11</td>
					            				<td><strong><u>Declaration/Undertaking</u></strong> <em>(for OBC Candidates only)</em></td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>12</td>
					            				<td>An <strong>Undertaking</strong> by the student</td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td></td>
					            				<td class="center"><strong>AFFIDAVITS</strong></td><td></td><td></td>
					          				</tr>

					          				<tr>
					            				<td>13</td>
					            				<td><strong>Affidavit</strong> for giving reason for study gap (if any)</td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>14</td>
					            				<td>An <strong>Affidavit by the Student [Anti-Ragging measures] (Original) (Online generated)</strong></td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>15</td>
					            				<td><strong>Affidavit by the Parent / Guardian [Anti-Ragging measures] (Original) (Online generated)</strong></td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td>16</td>
					            				<td><strong>The following documents are required if qualifying examination is from outside India or from National Open School</strong></td><td></td><td></td>
										    </tr>

					          				<tr>
					            				<td></td>
					            				<td><strong>Passport</strong> of the candidates</td>
					            				<td></td>
					          				</tr>

					          				<tr>
					            				<td></td>
					            				<td><strong>Proof of Place of Examination</strong> from the National Open School</td>
					            				<td></td>
					          				</tr>
			 				        	</tbody>
			        				</table>
		        			</div>
		        				<hr>
		      				</div>
		    			</div>
		    			<p><b>Note: </b>If any discrepancy, contact Administrative Block</p>
					</div>

					<div id="subjects" class="tabcontent">
	          			<h4 class="text-center font-weight-bold">CURRENT SEMESTER SUBJECTS</h4><br>

				  		<div style="overflow-x:auto;">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="srno">Sr. No.</th>
										<th id="cno">Course No.</th>
										<th class="center">Name of the Subject</th>
										<th class="srno">L</th>
										<th class="srno">T</th>
										<th class="srno">P</th>
										<th class="srno">D</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>1</td>
										<td>sadfkljjashdflkh</td>
										<td>asdfkjsadflkj</td>
										<td>3</td>
										<td>3</td>
										<td>fasldfjkas</td>
										<td>laksdhfuh</td>
									</tr>

									<tr>
										<td>2</td>
										<td></td>
										<td>Subject 2</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td>3</td>
										<td></td>
										<td>Subject 3</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td>4</td>
										<td></td>
										<td>Subject 4</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td>5</td>
										<td></td>
										<td>Subject 5</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td>6</td>
										<td></td>
										<td>Subject 6</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>


									<tr>
										<td>7</td>
										<td></td>
										<td>Subject 7</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td>8</td>
										<td></td>
										<td>Subject 8</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td>9</td>
										<td></td>
										<td>Subject 9</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td>10</td>
										<td></td>
										<td>Subject 10</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td></td>
										<td></td>
										<td style="text-align: right;"><strong>Total</strong></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div id="medDetails" class="tabcontent">
	          			<h4 class="text-center font-weight-bold">PERSONAL HISTORY</h4><br>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="date"><b>Age on 1<span class=" align-text-bottom">st</span> {{ sobj.age }}</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm- col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="date">21</label>
	 							</div>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="identification"><b>Identification Mark on the Body</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm-1 col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="identification">Mole on left hand little finger</label>
	 							</div>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="majorIllness"><b>Major illness/operation</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm-1 col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="majorIllness">None</label>
	 							</div>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="height"><b>Height (cm)</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm-1 col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="height">173</label>
	 							</div>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="weight"><b>Weight (Kg)</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm-1 col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="weight">65</label>
	 							</div>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="vision"><b>Vision</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm-1 col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="vision">6/6</label>
	 							</div>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="bloodGroup"><b>Blood Group</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm-1 col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="bloodGroup">B+ve</label>
	 							</div>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="colourBlindness"><b>Colour Blindness</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm-1 col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="colourBlindness">No</label>
	 							</div>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
			          				<label for="otherDefect"><b>Any Other Defect</b></label>
			          			</div>
		        			</div>
		        			<div class="col-md-1 col-sm-1 col-1">
		        				<label>:</label>
							</div>
		        			<div class="col-md-5 col-sm-5 col-5">
		        				<div class="form-group">
	 								<label id="otherDefect">None</label>
	 							</div>
		        			</div>
		        		</div>
			  		</div>


					<div id="dues" class="tabcontent">

	          			<h4 class="text-center font-weight-bold">PRIVIOUS DUES</h4><br>

						<div class="row">
							<div class="col-lg-4">
								<div class="card">
								  	<h4>Academic Due</h4>
								  	<div class="card-body">
								    	<p class="card-text">If unpaid, visit Administration Block (Account Section)</p>
								    	<a href="#" class="btn btn-success">Check Now!</a>
								  	</div>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="card">
								  	<h4>Hostel Due</h4>
								  	<div class="card-body">
								    	<p class="card-text">If unpaid, visit your respective hostel</p>
								    	<a href="#" class="btn btn-success">Check Now!</a>

								  	</div>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="card">
								  	<h4>Library Due</h4>
								  	<div class="card-body">
								    	<p class="card-text">If unpaid, visit Library before Registration</p>
								   		<a href="#" class="btn btn-success">Check Now!</a>

								  	</div>
								</div>
							</div>
						</div>
					</div>

					<div id="result" class="tabcontent">
	          			<h4 class="text-center font-weight-bold">RESULT OF PREVIOUS SEMESTER</h4><br>
	          			<div class="row">
		      				<div class=" col-lg-12 col-md-12 col-sm-12 col-12">
						  		<div style="overflow-x:auto;">
			        				<table class="table table-bordered text-center">
			          					<thead>
			          						<tr>
					           					<th class="gpi">Semester</th>
					           					<th class="gpi">SGPI</th>
					           					<th class="gpi">CGPI</th>
					           					<th>Repeat (if any)</th>
					       					</tr>
					       				</thead>

					       				<tbody>
											<tr>
												<td>1st</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>2nd</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>3rd</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>4th</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>5th</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>6th</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>7th</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>8th</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>9th</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

											<tr>
												<td>10th</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
			 				        	</tbody>
			        				</table>
			        			</div>
			        			<button id="register" class="btn btn-success mybtn" type="buton">Register for New Session</button>
		      				</div>
		    			</div>
					</div>
				</form>
			</div>
		</div>
	</div>

    {% endblock %}

    {% block bodyscripts %}
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}

    {% block staticfiles %}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "sorp_app/Student_Profile.css" %}">
		<script type="text/javascript" src="{% static "sorp_app/Student_Profile.js" %}"></script>
	{% endblock %}