{% extends "base.html" %}


    {% block title %}
        Staff Profile
    {% endblock %}





    {% block links %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    {% endblock %}





    {% block styles %}
        <style>

            div#heading {
			    background: #5292f9;
			    font-size: 40px;
			    color: white;
            }

            img {
                width: 50%;
            }
            .tab {
                overflow: hidden;
            }
            /* Style the buttons inside the tab */
            .tab button {
                border-radius: 5px;
                text-align: center;
                width: 23%;
                margin: 0 5%;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 0;
                transition: 0.3s;
                font-size: 17px;
                white-space: wrap;
                text-overflow: ellipsis;
            }
            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: lightblue;
            }
            /* Create an active/current tablink class */
            .tab button.active {
                color: white;
                background-color: #5292f9;
            }
            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                -webkit-animation: fadeEffect 1s;
                animation: fadeEffect 1s;
            }
            /* Fade in tabs */
            @-webkit-keyframes fadeEffect {
                from {opacity: 0;}
                to {opacity: 1;}
            }
            @keyframes fadeEffect {
                from {opacity: 0;}
                to {opacity: 1;}
            }

            div#UpdateDue, div#UpdateSubjects{
                display: block;
            }

        </style>
    {% endblock %}





    {% block bodycontent %}
        <a style="font-size: 120%; margin-right:20px;" class="btn btn-primary pull-right" href="/login/">LogOut</a>
        <a style="font-size: 120%; margin: 0 5px;" class="btn btn-primary pull-right" href="/change_password">Change Password</a>

        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <br><br>
                    {% load static %}
                    <img class="rounded mx-auto d-block" src="{% static "def_profile_pic.jpg" %}">
                        <div class="text-center mt-2">
                            <label class="font-weight-bold" id="StaffName">{{ uobj.first_name }} {{ uobj.last_name }}</label><br>
                            <label id="StaffPhone"><span class="text-muted">Email: </span>{{ uobj.email }}</label><br>
                        </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <!-- Tabs list -->
                    <div class="row">
                        <div style="margin-top: 10px" class="col-lg-12 col-md-12">
                            <div class="tab">

                                {% ifnotequal ugrp 'Department Staff' %}
                                    <button class="tablinks active" onclick="openTab(event, 'UpdateDue')"><i class="fas fa-edit"></i> Update Dues</button>
                                {% endifnotequal %}


                                {% ifequal ugrp 'Department Staff' %}
                                    <button class="tablinks active" onclick="openTab(event, 'UpdateSubjects')"><i class="fas fa-edit"></i> Update Subjects</button>
                                    <button class="tablinks" onclick="openTab(event, 'UploadResult')"><i class="fas fa-upload"></i> Upload Result</button>
                                {% endifequal %}

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div style="margin-top: 10px" class="col-lg-12 col-md-12">

                            {% ifnotequal ugrp 'Department Staff' %}
                            <div id="UpdateDue" class="tabcontent">
                                {%ifequal ugrp 'Library Staff' %}
                                    <div class="card">
                                       <div class="card-header text-center">
                                         <h4>Library Due</h4>
                                       </div>

                                       <div class="card-body text-center">
                                          <p class="card-text">Upload File</p>
                                          <form method="post" action="{%url 'sorp_app:upload_due'%}"  enctype="multipart/form-data">
                                              {% csrf_token %}

                                            <input type="file"   name="file" required>
                                            <button class="btn btn-success" type="submit">Upload</button>
                                          </form>
                                       </div>
                                    </div>
                                    <br>
                                {% endifequal %}

                                {%ifequal ugrp  'Administration Staff' %}
                                    <div class="card">
                                        <div class="card-header text-center">
                                           <h4>Admin Due</h4>
                                        </div>

                                        <div class="card-body text-center">
                                            <p class="card-text">Upload File</p>
                                            <form method="post" action="{%url 'sorp_app:upload_due'%}"  enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="file" name="file" required>
                                                <button class="btn btn-success" type="submit">Upload</button>
                                          </form>
                                        </div>
                                    </div>
                                    <br>
                                {% endifequal%}

                                {% ifequal ugrp 'Hostel Staff'%}
                                    <div class="card">
                                    <div class="card-header text-center">
                                     <h4>Hostel Due</h4>
                                   </div>

                                   <div class="card-body text-center">
                                       <p class="card-text">Upload File</p>
                                      <form method="post" action="{%url 'sorp_app:upload_due'%}"  enctype="multipart/form-data">
                                          {% csrf_token %}
                                        <input type="file"  name="file" required>
                                        <button class="btn btn-success" type="submit">Upload</button>
                                      </form>
                                    </div>
                                   </div>
                                    <br>
                                {% endifequal%}
                            </div>
                            {% endifnotequal %}


                            {% ifequal ugrp 'Department Staff' %}
                                <div id="UpdateSubjects" class="tabcontent">
                                    <div class="card">
                                       <div class="card-header text-center">
                                           <h4>Upload New Subject Scheme</h4>
                                       </div>

                                        <div class="card-body text-center">
                                            <br>
                                            <a class="btn btn-success" href=""> Upload </a><br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div id="UploadResult" class="tabcontent">
                                    <div class="card">
                                       <div class="card-header text-center">
                                           <h4>Upload Result of your Department</h4>
                                       </div>

                                        <div class="card-body text-center">
                                            <br>
                                            <a class="btn btn-success" href=""> Upload </a><br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            {% endifequal %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}





    {% block staticfiles %}
        {% load static %}
        <script type="text/javascript" src="{% static "sorp_app/r_addstudent.js" %}"></script>
    {% endblock %}