<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>

		{% block meta %}
			<!-- All the meta files will come here! -->
		{% endblock %}

		{% block links %}
			<!-- Online links will come here! -->
		{% endblock %}

		{% block styles %}
			<!-- Style part comes here! -->
		{% endblock %}

		<!-- Permanent metafiles -->
		<!--------------------->
		<!-- Permanent Links -->
		<!--------------------->
		<!-- Permanent staticfiles -->
			{% load static %}
			<link rel="stylesheet" type="text/css" href="{% static "bootstrap-4.1.1/css/bootstrap.min.css" %}" />
			<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}" />

		{% block staticfiles %}
			<!-- Static files come here! -->
		{% endblock %}

		<!--------------------->
		<!-- Permanent styles -->
		<!--------------------->
	</head>

	<body>
		<!-- Permanent body_content -->


		<!--------------------->

		{% block bodycontent %}

		{% endblock %}

		{% block bodyscripts %}
		{% endblock %}

		<!-- Permanent scripts -->
			<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<!-- Latest compiled JavaScript -->
			{% load static %}
			<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
		<!--------------------->
	</body>
</html>