<!DOCTYPE html>
<html lang="en">
	<head>

		<title>{% block title %}{% endblock %}</title>


		{% block meta %}
		{% endblock %}

		{% block links %}
		{% endblock %}

		{% block styles %}
		{% endblock %}

		{% block staticfiles %}
		{% endblock %}

		{% load static %}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.1.1/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" />
		<link rel="icon" href="{% static 'index.jpg' %}">
	</head>

	<body>
		<!-- Permanent body_content -->
		<!--------------------->
		<div id="heading" class="text-center">
			<p style="padding: 2px;">Online Registration Portal</p>
		</div>

		{% block bodycontent %}
		{% endblock %}

		{% block bodyscripts %}
		{% endblock %}

		<footer id="footer"><b>Copyright &copy; <a style="color: white" href="https://nith.ac.in">NIT Hamirpur</a> | <a style="color: white" href="/theBrahma/">About Us </a></b></footer>

		<!-- Permanent scripts -->
			<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<!-- Latest compiled JavaScript -->
			{% load static %}
			<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
		<!--------------------->
	</body>
</html>