body { font-family: Arial; }

h1 {
    background: grey;
    text-align: center;
    padding-bottom: 10px;
}

h4 {
    margin: 0;
    padding-left: 10px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: steelblue;
    border-radius: 10px 10px 0 0;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    width: 33.334%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: lightblue;
}

/* Create an active/current tablink class */
.tab button.active {
    color: white;
    background-color: lightblue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

table {
    width: 100%;
}


div#dataEntry.tabcontent {
    display: block;
}

select.form-control {
    font-size: 15px;
    font-weight: 500;
    /*text-align: center;*/
    text-transform: capitalize;
    padding: 0px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    /*box-sizing: border-box;*/
    border: none;
    outline: none;
}

.container {
    width: 65%;
    padding: 0;
    margin: 0 auto;
}

label {
    font-size: 12px;
}

input.form-control {
    margin-bottom: 10px;
    height: 30px;
}