body { font-family: Arial; }

img {
    width: 80%;
    padding-top: 15px;
}

div#studentProfile.tabcontent {
    display: block;
}

.mygrid {
    border: 0.5px solid black;
    padding: 10 px;
    margin: 0;
}

.mygrid1 {
    border: 0.5px solid black;
    border-left: none;
    padding: 10px;
    margin: 0;
}


th.srno {
    width: 85px;
}

h1 {
    background: grey;
    text-align: center;
    padding: 10px;
}

h4 {
    background: lightgreen;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    color: #000000;
    border-bottom: 1px solid black;
    border-radius: 5px 5px 0 0;
}

.tab button {    
    border-radius: 5px 5px;
    overflow: hidden;
    background-color: #00aa13;
    width: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
    font-size: 17px;
    margin-bottom: 2px;
    color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: lightgreen;
    transition: all 0.6s;
}

/* Create an active/current tablink class */
.tab button.active {
    color: black;
    background-color: lightgreen;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

table {
    width: 100%;
}


div#dataEntry.tabcontent {
    display: block;
}


select.form-control {
    font-size: 15px;
    font-weight: 500;
    /*text-align: center;*/
    text-transform: capitalize;
    padding: 0px;
    margin-bottom: 10px;
    width: 100%;  
    height: 50px;
    /*box-sizing: border-box;*/
    border: none;
    outline: none;
}

.container {
    /*width: 65%;*/
    padding: 0;
    margin: 0 auto;
}


input.form-control {
    margin-bottom: 10px;
    height: 30px;
}

.gpi {
    width: 15%;
}


.mybtn {
    border-radius: 5px 5px;
    overflow: hidden;
    background-color: ;
    width: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
    font-size: 17px;
    margin-bottom: 1px;
}

.mybtn:hover{
    transition: all 0.6s;
    background-color: steelblue;
}

.mynav {
    background-color: green;
}